# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/

# TypeScript artifacts
*.tsbuildinfo
dist/

# Hardhat artifacts
artifacts/
cache/

# Typechain artifacts
src/types/*
!src/types/common.ts
!src/types/Baks.ts
!src/types/Bank.ts
!src/types/ChainlinkPriceOracle.ts
!src/types/Core.ts
!src/types/Depositary.ts
!src/types/DevelopmentFund.ts
!src/types/ExchangeFund.ts

!src/types/factories
src/types/factories/*
!src/types/factories/Core__factory.ts
!src/types/factories/Baks__factory.ts
!src/types/factories/Bank__factory.ts
!src/types/factories/ChainlinkPriceOracle__factory.ts
!src/types/factories/Depositary__factory.ts
!src/types/factories/DevelopmentFund__factory.ts
!src/types/factories/ExchangeFund__factory.ts

# dotenv config file
.env

# solidity-coverage artifacts
coverage/
coverage.json

# eth-gas-reporter artifacts
gasReporterOutput.json

# OpenMetrics report
gas-profile-report.txt

# JUnit report
test-results.xml
